<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.settings.curtana_japan">

    <overlay android:targetPackage="com.android.settings"
             android:requiredSystemPropertyName="ro.boot.hwc"
             android:requiredSystemPropertyValue="Japan"
             android:isStatic="true" />
</manifest>
